# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import datetime
from scipy.stats import linregress

# Import API key

from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
#For reference
dataset_df = pd.read_csv('output_data/cities.csv')
dataset_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

## Generate Cities List

In [3]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
# If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

608

In [4]:
url = "http://api.openweathermap.org/data/2.5/weather?"

units = "metric"

query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [5]:
#TESTING 

#cities = ["Paris", "London", "Oslo", "Beijing"]

## Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
#list 
# 9

time.sleep(1)


lat = []

lng = []

temp = []

cloudiness = []

date = []

country = []

humiditie = []

wind_speed =[]

citiesss = []


#counter
count_record = 0
set_num = 1


# Loop through the list of cities and perform a request for data on each
for city in cities:
    
     try:
        response = requests.get(query_url + city).json()
        lat.append(response['coord']['lat'])
        temp.append(response['main']['temp'])
        lng.append(response['coord']['lon'])
        cloudiness.append(response['clouds']['all']) 
        date.append(response ['dt'])   
        country.append(response['sys']['country'])
        humiditie.append(response['main']['humidity'])
        wind_speed.append(response['wind']['speed'])
#cities    
                         
                         
        if count_record > 50:
                                                                                      
             count_record = 0
             set_num = set_num +1
             citiesss.append(city)
                     
        else:
             count_record +=1
             citiesss.append(city)
             print(f"Data Retrieval record {count_record} , {set_num} , {city} ")

                          
                    
     except:
    
         count_record = count_record +1
         citiesss.append(city)
         print(f"City not found here {city}")

Data Retrieval record 1 , 1 , rikitea
Data Retrieval record 2 , 1 , chichester
Data Retrieval record 3 , 1 , cooma
Data Retrieval record 4 , 1 , qaanaaq
Data Retrieval record 5 , 1 , puerto carreno
Data Retrieval record 6 , 1 , hobart
Data Retrieval record 7 , 1 , tuktoyaktuk
Data Retrieval record 8 , 1 , east london
Data Retrieval record 9 , 1 , ribeira grande
Data Retrieval record 10 , 1 , tahta
Data Retrieval record 11 , 1 , jamuria
Data Retrieval record 12 , 1 , busselton
Data Retrieval record 13 , 1 , pevek
Data Retrieval record 14 , 1 , gat
Data Retrieval record 15 , 1 , coahuayana
Data Retrieval record 16 , 1 , ushuaia
Data Retrieval record 17 , 1 , husavik
Data Retrieval record 18 , 1 , bluff
Data Retrieval record 19 , 1 , port alfred
Data Retrieval record 20 , 1 , alyangula
Data Retrieval record 21 , 1 , punta arenas
City not found here marcona
City not found here belushya guba
Data Retrieval record 24 , 1 , burnie
Data Retrieval record 25 , 1 , ostrovnoy
Data Retrieval record 26 , 1 , airai
Data Retrieval record 27 , 1 , loubomo
Data Retrieval record 28 , 1 , severo-kurilsk
Data Retrieval record 29 , 1 , tekeli
Data Retrieval record 30 , 1 , cidreira
Data Retrieval record 31 , 1 , barrow
Data Retrieval record 32 , 1 , chumikan
City not found here tumannyy
Data Retrieval record 34 , 1 , butaritari
Data Retrieval record 35 , 1 , simpang
Data Retrieval record 36 , 1 , pangody
Data Retrieval record 37 , 1 , raypur
Data Retrieval record 38 , 1 , naze
Data Retrieval record 39 , 1 , beringovskiy
City not found here mys shmidta
Data Retrieval record 41 , 1 , bredasdorp
Data Retrieval record 42 , 1 , lompoc
Data Retrieval record 43 , 1 , ilulissat
Data Retrieval record 44 , 1 , saskylakh
Data Retrieval record 45 , 1 , yellowknife
Data Retrieval record 46 , 1 , sterling
Data Retrieval record 47 , 1 , mataura
Data Retrieval record 48 , 1 , lebu
Data Retrieval record 49 , 1 , tasiilaq
Data Retrieval record 50 , 1 , hermanus
Data Retrieval record 51 , 1 , netarhat
Data Retrieval record 1 , 2 , adrar
Data Retrieval record 2 , 2 , mahebourg
Data Retrieval record 3 , 2 , snihurivka
Data Retrieval record 4 , 2 , cozumel
City not found here taolanaro
Data Retrieval record 6 , 2 , upernavik
Data Retrieval record 7 , 2 , kovur
Data Retrieval record 8 , 2 , new norfolk
Data Retrieval record 9 , 2 , saint-philippe
Data Retrieval record 10 , 2 , kodiak
Data Retrieval record 11 , 2 , cape town
Data Retrieval record 12 , 2 , qaqortoq
Data Retrieval record 13 , 2 , alofi
Data Retrieval record 14 , 2 , faanui
Data Retrieval record 15 , 2 , kapoeta
Data Retrieval record 16 , 2 , kruisfontein
Data Retrieval record 17 , 2 , chuy
Data Retrieval record 18 , 2 , longyearbyen
City not found here umm durman
Data Retrieval record 20 , 2 , poum
Data Retrieval record 21 , 2 , batemans bay
Data Retrieval record 22 , 2 , narsaq
Data Retrieval record 23 , 2 , mar del plata
Data Retrieval record 24 , 2 , anadyr
Data Retrieval record 25 , 2 , luderitz
Data Retrieval record 26 , 2 , sitka
Data Retrieval record 27 , 2 , saldanha
Data Retrieval record 28 , 2 , yarmouth
Data Retrieval record 29 , 2 , hilo
Data Retrieval record 30 , 2 , bull savanna
Data Retrieval record 31 , 2 , los llanos de aridane
City not found here illoqqortoormiut
Data Retrieval record 33 , 2 , kangundo
Data Retrieval record 34 , 2 , karratha
Data Retrieval record 35 , 2 , sayyan
Data Retrieval record 36 , 2 , buala
Data Retrieval record 37 , 2 , nuuk
Data Retrieval record 38 , 2 , khatanga
Data Retrieval record 39 , 2 , saint-joseph
City not found here nizhneyansk
Data Retrieval record 41 , 2 , odweyne
Data Retrieval record 42 , 2 , chirongui
Data Retrieval record 43 , 2 , la palma
Data Retrieval record 44 , 2 , fortuna
Data Retrieval record 45 , 2 , ponta do sol
Data Retrieval record 46 , 2 , novobessergenevka
Data Retrieval record 47 , 2 , vaini
Data Retrieval record 48 , 2 , geraldton
Data Retrieval record 49 , 2 , ulaanbaatar
Data Retrieval record 50 , 2 , brokopondo
Data Retrieval record 51 , 2 , huarmey
Data Retrieval record 1 , 3 , ohafia
Data Retrieval record 2 , 3 , coos bay
City not found here sorvag
Data Retrieval record 4 , 3 , camacha
Data Retrieval record 5 , 3 , constitucion
Data Retrieval record 6 , 3 , rovaniemi
Data Retrieval record 7 , 3 , hithadhoo
Data Retrieval record 8 , 3 , castro
City not found here warqla
Data Retrieval record 10 , 3 , clyde river
Data Retrieval record 11 , 3 , westport
Data Retrieval record 12 , 3 , zhezkazgan
Data Retrieval record 13 , 3 , ararat
Data Retrieval record 14 , 3 , atuona
Data Retrieval record 15 , 3 , banda aceh
Data Retrieval record 16 , 3 , pemangkat
Data Retrieval record 17 , 3 , dimbokro
City not found here sentyabrskiy
Data Retrieval record 19 , 3 , sechura
Data Retrieval record 20 , 3 , praia
Data Retrieval record 21 , 3 , pisco
Data Retrieval record 22 , 3 , marystown
Data Retrieval record 23 , 3 , fairbanks
City not found here palabuhanratu
City not found here attawapiskat
City not found here deh rawud
Data Retrieval record 27 , 3 , suhbaatar
Data Retrieval record 28 , 3 , osoyoos
City not found here khonuu
Data Retrieval record 30 , 3 , san patricio
Data Retrieval record 31 , 3 , king city
Data Retrieval record 32 , 3 , te anau
Data Retrieval record 33 , 3 , nikolskoye
Data Retrieval record 34 , 3 , mount gambier
Data Retrieval record 35 , 3 , esperance
Data Retrieval record 36 , 3 , bambous virieux
Data Retrieval record 37 , 3 , puerto ayora
Data Retrieval record 38 , 3 , avarua
Data Retrieval record 39 , 3 , la ronge
Data Retrieval record 40 , 3 , cabo san lucas
Data Retrieval record 41 , 3 , bethel
Data Retrieval record 42 , 3 , nieuw amsterdam
Data Retrieval record 43 , 3 , hit
Data Retrieval record 44 , 3 , tocopilla
Data Retrieval record 45 , 3 , hamilton
Data Retrieval record 46 , 3 , dunmore town
Data Retrieval record 47 , 3 , albany
Data Retrieval record 48 , 3 , bengkulu
City not found here amderma
Data Retrieval record 50 , 3 , mehamn
Data Retrieval record 51 , 3 , shatsk
Data Retrieval record 1 , 4 , victoria
Data Retrieval record 2 , 4 , morro bay
Data Retrieval record 3 , 4 , pokhara
Data Retrieval record 4 , 4 , kieta
Data Retrieval record 5 , 4 , ukiah
City not found here tarhunah
Data Retrieval record 7 , 4 , roma
Data Retrieval record 8 , 4 , buraydah
Data Retrieval record 9 , 4 , katsuura
Data Retrieval record 10 , 4 , orlik
Data Retrieval record 11 , 4 , plouzane
Data Retrieval record 12 , 4 , salalah
Data Retrieval record 13 , 4 , serebryansk
Data Retrieval record 14 , 4 , solok
Data Retrieval record 15 , 4 , la asuncion
Data Retrieval record 16 , 4 , touros
Data Retrieval record 17 , 4 , cayenne
Data Retrieval record 18 , 4 , rybinsk
Data Retrieval record 19 , 4 , oriximina
Data Retrieval record 20 , 4 , dikson
Data Retrieval record 21 , 4 , vardo
Data Retrieval record 22 , 4 , rayadrug
Data Retrieval record 23 , 4 , severnoye
Data Retrieval record 24 , 4 , omboue
Data Retrieval record 25 , 4 , san quintin
Data Retrieval record 26 , 4 , tiksi
Data Retrieval record 27 , 4 , vao
Data Retrieval record 28 , 4 , hoi an
Data Retrieval record 29 , 4 , lukovetskiy
Data Retrieval record 30 , 4 , mbaiki
City not found here barentsburg
Data Retrieval record 32 , 4 , bilibino
Data Retrieval record 33 , 4 , verkhnevilyuysk
Data Retrieval record 34 , 4 , georgetown
Data Retrieval record 35 , 4 , makakilo city
Data Retrieval record 36 , 4 , ust-omchug
Data Retrieval record 37 , 4 , bereznehuvate
Data Retrieval record 38 , 4 , maraa
Data Retrieval record 39 , 4 , gore
Data Retrieval record 40 , 4 , zhigansk
Data Retrieval record 41 , 4 , ferrol
Data Retrieval record 42 , 4 , dengzhou
Data Retrieval record 43 , 4 , tena
Data Retrieval record 44 , 4 , ewo
Data Retrieval record 45 , 4 , san andres
Data Retrieval record 46 , 4 , port elizabeth
Data Retrieval record 47 , 4 , margate
Data Retrieval record 48 , 4 , byron bay
Data Retrieval record 49 , 4 , provideniya
Data Retrieval record 50 , 4 , meulaboh
Data Retrieval record 51 , 4 , grindavik
City not found here vaitupu
Data Retrieval record 2 , 5 , zabid

Data Retrieval record 3 , 5 , porto-vecchio
Data Retrieval record 4 , 5 , port hawkesbury
Data Retrieval record 5 , 5 , portland
Data Retrieval record 6 , 5 , pangnirtung
Data Retrieval record 7 , 5 , dukat
City not found here afanasyevo
Data Retrieval record 9 , 5 , okhotsk
Data Retrieval record 10 , 5 , nago
Data Retrieval record 11 , 5 , celinac
Data Retrieval record 12 , 5 , saint anthony
Data Retrieval record 13 , 5 , kaitangata
Data Retrieval record 14 , 5 , sorland
Data Retrieval record 15 , 5 , teya
City not found here jabiru
Data Retrieval record 17 , 5 , green river
Data Retrieval record 18 , 5 , svetlogorsk
Data Retrieval record 19 , 5 , xining
Data Retrieval record 20 , 5 , norman wells
Data Retrieval record 21 , 5 , zhanaozen
Data Retrieval record 22 , 5 , rawson
Data Retrieval record 23 , 5 , eden
Data Retrieval record 24 , 5 , port lincoln
Data Retrieval record 25 , 5 , springdale
Data Retrieval record 26 , 5 , inverell
Data Retrieval record 27 , 5 , thompson
Data Retrieval record 28 , 5 , dondo
Data Retrieval record 29 , 5 , kostroma
Data Retrieval record 30 , 5 , hvide sande
Data Retrieval record 31 , 5 , methoni
Data Retrieval record 32 , 5 , alice springs

## Convert Raw Data to DataFrame
* Save as csv

In [ ]:
# creating a dataframe from cities etc
#for reference to create dictionary #lat , #lng , #temp , #cloudiness , #date , #country 
#humiditie , #wind_speed ,, #citiesss 

weather_dictionary = {

    "City": citiesss,
    "Country": country,
    "Lat": lat,
    "Lng": lng,
    "Max Temperature": temp,
    "Humidity" : humiditie,
    "Wind speed" : wind_speed,
    "Date" : date,
    "Cloudiness" : cloudiness
    
}



#to check 
#print(weather_dictionary)

In [ ]:

#weather_df = pd.DataFrame(weather_dictionary)
weather_df  = pd.DataFrame.from_dict(weather_dictionary, orient='index')
weather_df  = weather_df.transpose()

In [ ]:
#changing to csv
#run calls from csv nowonwards
weather_df.to_csv("output_data/weather_data.csv")

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

### Latitude vs. Temperature Plot

In [ ]:
#Latitude vs. Temperature Plot

#datetime
t = time.strftime("%m/%d/%Y")
#scatterplot
plt.scatter(weather_df["Lat"], weather_df["Max Temperature"],facecolors="green")

#labels
plt.xlabel("City Latitude")
plt.ylabel("Max Temperature")
plt.title(f"City Latitude vs Max Temperature({t}) ")
#print result
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig1.png")

### Latitude vs. Humidity Plot

In [ ]:
#Latitude vs. Humidity Plot
#datetime
t = time.strftime("%m/%d/%Y")
#scatterplot
plt.scatter(weather_df["Lat"], weather_df["Humidity"],facecolors="green")

# labels
plt.xlabel("City Latitude")
plt.ylabel("Humidity")
plt.title(f"City Latitude vs Humidity({t}) ")
#print message
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig2.png")

### Latitude vs. Cloudiness Plot

In [ ]:
#Latitude vs. Cloudiness Plot
#datetime
t = time.strftime("%m/%d/%Y")
#scatterplot
plt.scatter(weather_df["Lat"], weather_df["Cloudiness"],facecolors="green")

# plt.scatterplot
plt.xlabel("City Latitude")
plt.ylabel("Cloudiness")
plt.title(f"City Latitude vs Cloudiness({t}) ")
#print result with tight label
plt.show()
plt.tight_layout()
#print result
plt.savefig("Figures/fig3.png")

### Latitude vs. Wind Speed Plot

In [ ]:
#Latitude vs. Wind Speed Plot
#datetime
t = time.strftime("%m/%d/%Y")
plt.scatter(weather_df["Lat"], weather_df["Wind speed"],facecolors="green")

# plt.scatterplot
plt.xlabel("City Latitude")
plt.ylabel("Wind Speed")
plt.title(f"City Latitude vs Wind Speed({t}) ")
#print result
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig4.png")

## Linear Regression

### Write linear regression plot function (optional)

In [ ]:
#linear regression equation is:
#regression_value = x_value * slope + intercept

##line equation:
#line_equation_value = "y = " + str(slope) + "x + " + str(intercept)


#dataframe
#northern hemisphere, greater than 0

n = weather_df.Lat >= 0


northernhem_df = weather_df[n]

In [ ]:
#souther hemisphere, less than 0
s = weather_df.Lat < 0

southernhem_df = weather_df[s]

###  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
#Northern Hemisphere - Max Temp vs. Latitude Linear Regression

x_latitude = northernhem_df["Lat"].astype(float)

y_temperature = northernhem_df["Max Temperature"].astype(float)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_temperature)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_temperature)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Northern Hemisphere- Max temp vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Max temperature')

#show results, r value 

#print(f " The r-squared value here is {rvalue}")
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig5.png")

###  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
#S Hemisphere - Max Temp vs. Latitude Linear Regression

x_latitude = southernhem_df['Lat'].astype(float)
y_temperature = southernhem_df['Max Temperature'].astype(float)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_temperature)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_temperature)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Southern Hemisphere- Max temp vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Max temperature')

#show results, r value 
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig6.png")

###  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
#Northern Hemisphere - HUmidity vs. Latitude Linear Regression

x_latitude = northernhem_df['Lat'].astype(float)
y_hum = northernhem_df['Humidity'].astype(float)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_hum)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_hum)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Northern Hemisphere- Humidity vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Humidity')

#show results, r value 

plt.show()
plt.tight_layout()

plt.savefig("Figures/fig7.png")

###  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
#Southern Hemisphere - HUmidity vs. Latitude Linear Regression

x_latitude = southernhem_df['Lat'].astype(float)
y_hum = southernhem_df['Humidity'].astype(float)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_hum)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_hum)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Southern Hemisphere- Humidity vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Humidity')

#show results, r value 
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig8.png")

###  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
#Northern Hemisphere - Cloudiness vs. Latitude Linear Regression

x_latitude = northernhem_df['Lat'].astype(float)
y_c = northernhem_df['Cloudiness'].astype(float)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_c)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_c)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Northern Hemisphere- Cloudiness vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Cloudiness')

#show results, r value 

plt.show()
plt.tight_layout()
plt.savefig("Figures/fig9.png")

###  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
#S Hemisphere - Cloudiness vs. Latitude Linear Regression

x_latitude = southernhem_df['Lat'].astype(float)
y_c = southernhem_df['Cloudiness'].astype(float)
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_c)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_c)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Southern Hemisphere- Cloudiness vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Cloudiness')

#show results, r value 

plt.show()
plt.tight_layout()
plt.savefig("Figures/fig10.png")

###  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
#northern hem

x_latitude = northernhem_df['Lat'].astype(float)
y_s = northernhem_df['Wind speed'].astype(float)
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_s)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_s)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Northern Hemisphere- Wind Speed vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Wind Speed')

#show results, tight layout
plt.show()
plt.tight_layout()
plt.savefig("Figures/fig11.png")

###  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
#southern hem

x_latitude = southernhem_df['Lat'].astype(float)
y_s = southernhem_df['Wind speed'].astype(float)
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_latitude, y_s)
#regression value equation
regress_val = x_latitude * slope + intercept

#line equation:
line_equation = "y = " + str(slope) + "x + " + str(intercept)
#scatterplot
plt.scatter(x_latitude,y_s)
plt.plot(x_latitude,regress_val,"r-")

#labels
plt.title('Southern Hemisphere- Wind Speed vs Latitude Linear Regression')
plt.xlabel('Latitude')
plt.ylabel('Wind Speed')

#show results, tight layout

plt.show()
plt.tight_layout()
plt.savefig("Figures/fig12.png")

In [ ]:
#Observations:
# 1) For the northern hemisphere, max temperture and latitude had a negative linear correlation.
# 2) In the southern hemisphere on the otherhand, max temperture and latitude had more of a positive correlation.
# 3) Interestly, both in the northern hemisphere and southern hemisphere, the cloudiness and latitude 
#    had a mostly positive correlation